<div class="container-fluid" *ngIf="course">
  <h3 *ngIf="course.parallel_name" class="m-0 p-0">
    {{ course.parallel_name }}
  </h3>
  <small>Período: {{ course.period?.name }}</small>
  <br />
  <small>ID Curso: {{ id }}</small>
  <h6>Docente: {{ course.teacher.name }}</h6>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="course-classes-tab"
        data-bs-toggle="tab"
        data-bs-target="#course-classes"
        type="button"
        role="tab"
        aria-controls="course-classes"
        aria-selected="true"
      >
        <i class="fa fa-clock"></i>&nbsp;Clases
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tasks-tab"
        data-bs-toggle="tab"
        data-bs-target="#tasks"
        type="button"
        role="tab"
        aria-controls="tasks"
        aria-selected="true"
      >
        <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;Tareas
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="enrollments-tab"
        data-bs-toggle="tab"
        data-bs-target="#enrollments"
        type="button"
        role="tab"
        aria-controls="enrollments"
        aria-selected="false"
      >
        <i class="fa fa-users-class"></i>&nbsp;Estudiantes
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="course-classes"
      role="tabpanel"
      aria-labelledby="course-classes-tab"
    >
      <h2 class="mt-3">Clases del Curso</h2>
      <div class="py-3">
        <app-course-class
          *ngFor="let courseClass of course.course_classes"
          [courseClass]="courseClass"
        ></app-course-class>
        <small> Las clases están ordenadas por número. </small>
      </div>
    </div>
    <div
      class="tab-pane fade show"
      id="tasks"
      role="tabpanel"
      aria-labelledby="tasks-tab"
    >
      <h2 class="mt-3">Tareas de Clase</h2>
      <div class="py-3">
        <ng-container *ngFor="let courseClass of course.course_classes">
          <ng-container *ngFor="let task of courseClass.course_class_tasks">
            <app-course-class-task [task]="task"> </app-course-class-task>
          </ng-container>
        </ng-container>
        <small> Las tares están ordenadas por número. </small>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="enrollments"
      role="tabpanel"
      aria-labelledby="enrollments-tab"
    >
      <h2 class="mt-3">Estudiantes del Curso</h2>
      <app-student-list [enrollments]="course.enrollments"></app-student-list>
    </div>
  </div>
</div>
