<div class="container-fluid mb-3">
  <form (ngSubmit)="enrollStudent(student.id)" #createStudent="ngForm">
    <input
      type="hidden"
      class="form-control"
      name="course_id"
      id="course_id"
      [(ngModel)]="courseId"
    />
    <div class="form-group">
      <input
        type="hidden"
        class="form-control"
        name="name"
        id="name"
        [value]="student.first_name"
      />
    </div>
    <div class="form-group">
      <label for="student_id"> Estudiante </label>
      <select
        class="form-control"
        name="student_id"
        id="student_id"
        [(ngModel)]="student.id"
      >
        <ng-container *ngFor="let stud of students; let i = index">
          <option *ngIf="stud" [value]="stud.id">
            {{ stud.id }} - {{ stud.name }}
          </option>
        </ng-container>
      </select>
    </div>
    <button
      class="btn btn-success mt-3"
      type="submit"
      [disabled]="!createStudent.form.valid || student.id == 0"
    >
      Matricular <i class="fa fa-user-plus" aria-hidden="true"></i>
    </button>
  </form>
</div>
