<div
  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm"
>
  <div class="col mb-3" *ngFor="let enrollment of enrollments; let i = index">
    <div class="card">
      <img
        src="https://via.placeholder.com/340x70/212529/212529"
        alt="Cover"
        class="card-img-top"
      />
      <div class="card-body text-center">
        <img
          [src]="
            (enrollment.student
              ? enrollment.student.profile_photo_path
              : 'https://i.pravatar.cc/300') +
            '?v=' +
            (enrollment.student ? enrollment.student.id : i + 1)
          "
          style="width: 100px; margin-top: -65px"
          alt="User"
          class="img-fluid img-thumbnail rounded-circle border-0 mb-3"
        />
        <h5 class="card-title">
          {{ enrollment.student ? enrollment.student.name : "Estudiante" }}
        </h5>
        <p class="text-secondary mb-1">
          {{
            enrollment.student
              ? enrollment.student.email
              : "usuario@ejemplo.com"
          }}
        </p>
      </div>
    </div>
  </div>
</div>
